

<div class="row">
	<div class="col-md-9" id="exam"> </div>
	<div class="col-md-3">
		<h2>ผลสอบ</h2>
		<h2>หมวด xxxx, บท .....</h2>
		<h2>Username : XXXXX</h2>
		<h2>Result : 10/20</h2>
		<hr>
		<div class="table-responsive table-bordered">
			<table class="table">
				<thead>
					<tr>
						<th>xxxxxx</th>
						<th>xxxxxx</th>
						<th>xxxxxx</th>
						<th>xxxxxx</th>
						<th>xxxxxx</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>xxxxxx</td>
						<td>xxxxxx</td>
						<td>xxxxxx</td>
						<td>xxxxxx</td>
						<td>xxxxxx</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
				50
			</div>
			<div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%">
				50
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var exam = $('#exam')

exam.load('view/_exam.html');

</script>